kind: Secret
apiVersion: v1
metadata:
  name: azure-cloud
  namespace: open-cluster-management
  labels:
    cluster.open-cluster-management.io/credentials: ''
    cluster.open-cluster-management.io/type: azr
data:
  cloudName: {{ azure_cloud_name | b64encode}}
  baseDomainResourceGroupName: {{ azure_resource_group | b64encode }}
  ssh-publickey: {{ sshKey | b64encode }}
  pullSecret: {{ pullsecret | b64encode}}
  baseDomain: {{ azure_base_domain | b64encode }}
  osServicePrincipal.json: {{ '{"clientId":"%s","clientSecret":"%s","tenantId":"%s","subscriptionId":"%s"}' | format(azure_client_id, azure_client_secret, azure_tenant_id, azure_subscription_id) | b64encode }}
type: Opaque
