apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: fedora
  namespace: openshift-virtualization-os-images
spec:
  source:
    registry:
      url: "docker://quay.io/containerdisks/fedora:43" 
  pvc:
    volumeMode: Block
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 5Gi
